

#app {
  margin-top: 50px;
  margin-left: 150px;
}

#flex-container {
  display:flex;
}
.picture-module-vertical-scroll {
  width: 75px;
  margin-right: 20px;
  flex-direction: column;

}
.picture-module-vertical-scroll-img {
  height: 434px;
  overflow: hidden;
}
.picture-module-vertical-scroll-img img {
  height: 70px;
  width: 70px;
}
.picture-module-vertical-scroll-img button {
  height: 72px;
  width: 72px;
  border: 1px solid #dadcdf;
  margin: 0 0 10px;
  padding: 0
}
.vertical-scroll-topClick {
  height: 32px;
  width:70px;
  border: none;
  background-color: white;
  outline: 0;
}
.picture-module-vertical-scroll-img button:active, .picture-module-vertical-scroll-img button:focus {
  border: 1px solid blue;
}
.vertical-scroll-bottomClick {
  height: 32px;
  width:70px;
  border: none;
  background-color: white;
  outline: 0;
}

.picture-module-horizontal-scroll {
  position: relative;
  width: 498px;
  height:498px;
}
.picture-module-horizontal-scroll img {
  width: 100%;
  height: auto;
}

.picture-module-horizontal-scroll .horizontal-scroll-rightClick{
  position: absolute;
  top: 45%;
  right: .05%;
  background-color: #fff;
  border-radius: 4px 0 0 4px;
  border: 1px solid #e7e8ea;
  box-shadow: 0 2px 0 rgba(0,0,0,.0613961);
  opacity: .7;
  padding: 0 0 0 2px;
  cursor: pointer;
  height: 76px;
  width: 40px;
  outline: 0;
}

.picture-module-horizontal-scroll .horizontal-scroll-leftClick{
  position: absolute;
  top: 45%;
  left: 0%;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  border: 1px solid #e7e8ea;
  box-shadow: 0 2px 0 rgba(0,0,0,.0613961);
  opacity: .7;
  padding: 0 2px 0 0;
  cursor: pointer;
  height: 76px;
  width: 40px;
  outline: 0;
}